openapi: 3.1.0
info:
  title: Silicon Briefcase API
  version: 0.1.0
  description: Organization-scoped file storage, permissions, previews, search, versioning, recovery, and OBO application access.
servers:
  - url: https://briefcase.teamofsilicons.com/api/v1
security:
  - bearerAuth: []
  - oboAccess: []
    appId: []
tags:
  - name: Entries
  - name: Uploads
  - name: Permissions
  - name: Notifications
  - name: Search
  - name: Versions
  - name: Bin
  - name: Storage
paths:
  /entries:
    get:
      tags: [Entries]
      operationId: listEntries
      summary: List folder contents, or filter everything the caller can reach
      description: >-
        Returns the hundred most recently changed visible entries per page,
        newest first. Without `filter`, the listing browses one level: the
        organization roots, or the contents of `parent_id`/`path`. With
        `filter` and no parent, it searches every entry the caller may reach,
        which is how a `location:` predicate selects a subtree.


        The filter language combines freely. Terms are ANDed; `or` introduces
        an alternative; `not` or a leading `-` negates; parentheses group.
        Supported keys:


        `last:N` / `first:N` take N entries chronologically (1-100, single
        page); `sort:newest` / `sort:oldest` order the result, newest first by
        default; `between:DD-MM-YYYY=DD-MM-YYYY` bounds the last change with
        both days inclusive; `after:DD-MM-YYYY` and `before:DD-MM-YYYY` bound
        one side; `from:@{carbon:id}` matches the creator; `to:@{silicon:id}`
        matches an explicit share; `for:@{id}` matches what that member can
        reach; `contains:'term'` matches names and extracted content, with `*`
        as a wildcard; `has:'term'` matches extracted content only;
        `name:'term'` matches names only; `location:'private/cos:tos'` matches
        a path prefix; `is:` takes `file`, `folder`, a renderer
        (`image`, `video`, `document`, `spreadsheet`, `presentation`, `audio`,
        `archive`, `code`, `unsupported`), or an extension such as `md`;
        `permissions:` takes `read`, `write`, `update`, `delete`, or
        `manage_permissions` and matches the caller's effective access. A bare
        word is shorthand for `contains:`.


        Filtering only ever returns entries the caller can already see.
      parameters:
        - $ref: '#/components/parameters/OrgId'
        - { name: parent_id, in: query, schema: { type: string, format: uuid }, description: Omit for the organization root }
        - { name: path, in: query, schema: { type: string, maxLength: 2048 }, description: Parent folder addressed by path instead of identifier }
        - { name: filter, in: query, schema: { type: string, maxLength: 1024 }, description: Filter expression, for example "last:5 location:'private' (contains:'apple' or contains:'cat') is:md" }
        - $ref: '#/components/parameters/Cursor'
        - $ref: '#/components/parameters/ContentsLimit'
      responses:
        '200':
          description: Visible entries
          content:
            application/json:
              schema: { $ref: '#/components/schemas/EntryPage' }
        default: { $ref: '#/components/responses/Error' }
    post:
      tags: [Entries]
      operationId: createFolder
      parameters:
        - $ref: '#/components/parameters/OrgId'
        - $ref: '#/components/parameters/IdempotencyKey'
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/FolderCreate' }
      responses:
        '201': { description: Folder created, content: { application/json: { schema: { $ref: '#/components/schemas/Entry' } } } }
        default: { $ref: '#/components/responses/Error' }
  /entries/{entry_id}:
    parameters:
      - $ref: '#/components/parameters/OrgId'
      - $ref: '#/components/parameters/EntryId'
    get:
      tags: [Entries]
      operationId: getEntry
      responses:
        '200': { description: Entry metadata, content: { application/json: { schema: { $ref: '#/components/schemas/Entry' } } } }
        default: { $ref: '#/components/responses/Error' }
    patch:
      tags: [Entries]
      operationId: updateEntry
      parameters: [{ $ref: '#/components/parameters/IdempotencyKey' }]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              minProperties: 1
              properties:
                name: { type: string, minLength: 1, maxLength: 255 }
                parent_id: { type: string, format: uuid }
      responses:
        '200': { description: Updated entry, content: { application/json: { schema: { $ref: '#/components/schemas/Entry' } } } }
        default: { $ref: '#/components/responses/Error' }
    delete:
      tags: [Entries]
      operationId: moveEntryToBin
      responses:
        '204': { description: Entry moved to the 45-day bin }
        default: { $ref: '#/components/responses/Error' }
  /entries/{entry_id}/content:
    get:
      tags: [Entries]
      operationId: readEntryContent
      summary: Stream current file bytes for sandboxed in-place rendering
      description: >-
        Briefcase relays the bytes itself, so the response is always bound to a
        current IAM identity and is never cacheable. Responses are sandboxed by
        Content-Security-Policy and served with `X-Content-Type-Options:
        nosniff`. Byte ranges are supported for media playback.
      parameters:
        - $ref: '#/components/parameters/OrgId'
        - $ref: '#/components/parameters/EntryId'
        - $ref: '#/components/parameters/Range'
      responses:
        '200': { $ref: '#/components/responses/FileContent' }
        '206': { $ref: '#/components/responses/PartialFileContent' }
        default: { $ref: '#/components/responses/Error' }
  /entries/{entry_id}/download:
    get:
      tags: [Entries]
      operationId: downloadEntry
      summary: Download current file bytes as an attachment
      parameters:
        - $ref: '#/components/parameters/OrgId'
        - $ref: '#/components/parameters/EntryId'
        - $ref: '#/components/parameters/Range'
      responses:
        '200': { $ref: '#/components/responses/FileContent' }
        '206': { $ref: '#/components/responses/PartialFileContent' }
        default: { $ref: '#/components/responses/Error' }
  /uploads:
    post:
      tags: [Uploads]
      operationId: uploadFile
      summary: Upload a file up to and including 100 MiB
      parameters:
        - $ref: '#/components/parameters/OrgId'
        - $ref: '#/components/parameters/IdempotencyKey'
      requestBody:
        required: true
        description: For OBO Access, clients must serialize the `parent_id` part before the binary `file` part so IAM can verify the proof's exact destination binding before Briefcase accepts file bytes.
        content:
          multipart/form-data:
            schema:
              type: object
              required: [parent_id, file]
              properties:
                parent_id: { type: string, format: uuid }
                file: { type: string, format: binary }
                app_id: { type: string, description: Originating application when using OBO Access }
      responses:
        '201': { description: File created, content: { application/json: { schema: { $ref: '#/components/schemas/Entry' } } } }
        '413': { description: Use multipart upload for files larger than 100 MiB }
        default: { $ref: '#/components/responses/Error' }
  /multipart-uploads:
    post:
      tags: [Uploads]
      operationId: initiateMultipartUpload
      parameters:
        - $ref: '#/components/parameters/OrgId'
        - $ref: '#/components/parameters/IdempotencyKey'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [parent_id, name, size, content_type]
              properties:
                parent_id: { type: string, format: uuid }
                name: { type: string }
                size: { type: integer, minimum: 104857601, maximum: 5497558138880 }
                content_type: { type: string }
      responses:
        '201':
          description: Upload initialized with calculated part size
          content:
            application/json:
              schema: { $ref: '#/components/schemas/MultipartUpload' }
        default: { $ref: '#/components/responses/Error' }
  /multipart-uploads/{upload_id}/parts/{part_number}:
    put:
      tags: [Uploads]
      operationId: uploadPart
      parameters:
        - $ref: '#/components/parameters/OrgId'
        - { name: upload_id, in: path, required: true, schema: { type: string } }
        - { name: part_number, in: path, required: true, schema: { type: integer, minimum: 1, maximum: 10000 } }
      requestBody: { required: true, content: { application/octet-stream: { schema: { type: string, format: binary } } } }
      responses:
        '200': { description: Part accepted, headers: { ETag: { schema: { type: string } } } }
        default: { $ref: '#/components/responses/Error' }
  /multipart-uploads/{upload_id}/complete:
    post:
      tags: [Uploads]
      operationId: completeMultipartUpload
      parameters:
        - $ref: '#/components/parameters/OrgId'
        - { name: upload_id, in: path, required: true, schema: { type: string } }
        - $ref: '#/components/parameters/IdempotencyKey'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [parts]
              properties:
                parts:
                  type: array
                  minItems: 1
                  items: { type: object, required: [part_number, etag], properties: { part_number: { type: integer }, etag: { type: string } } }
      responses:
        '201': { description: File created, content: { application/json: { schema: { $ref: '#/components/schemas/Entry' } } } }
        default: { $ref: '#/components/responses/Error' }
  /multipart-uploads/{upload_id}:
    delete:
      tags: [Uploads]
      operationId: abortMultipartUpload
      parameters:
        - $ref: '#/components/parameters/OrgId'
        - { name: upload_id, in: path, required: true, schema: { type: string } }
      responses:
        '204': { description: Upload aborted }
        default: { $ref: '#/components/responses/Error' }
  /entries/{entry_id}/permissions:
    parameters:
      - $ref: '#/components/parameters/OrgId'
      - $ref: '#/components/parameters/EntryId'
    get:
      tags: [Permissions]
      operationId: listPermissions
      responses:
        '200': { description: Explicit permissions, content: { application/json: { schema: { type: object, properties: { items: { type: array, items: { $ref: '#/components/schemas/PermissionGrant' } } } } } } }
        default: { $ref: '#/components/responses/Error' }
    post:
      tags: [Permissions]
      operationId: grantPermission
      requestBody: { required: true, content: { application/json: { schema: { $ref: '#/components/schemas/PermissionGrantCreate' } } } }
      responses:
        '201': { description: Permission granted, content: { application/json: { schema: { $ref: '#/components/schemas/PermissionGrant' } } } }
        default: { $ref: '#/components/responses/Error' }
  /entries/{entry_id}/permissions/{grant_id}:
    delete:
      tags: [Permissions]
      operationId: revokePermission
      parameters:
        - $ref: '#/components/parameters/OrgId'
        - $ref: '#/components/parameters/EntryId'
        - { name: grant_id, in: path, required: true, schema: { type: string, format: uuid } }
      responses:
        '204': { description: Grant revoked }
        default: { $ref: '#/components/responses/Error' }
  /permissions/effective:
    post:
      tags: [Permissions]
      operationId: inspectEffectivePermissions
      summary: Report what the caller may do on named files and folders
      description: >-
        Names up to 100 targets by identifier, path, or both. A target that
        does not exist and one the caller cannot read are both reported as
        unresolved, so the answer never confirms a hidden entry.
      parameters: [{ $ref: '#/components/parameters/OrgId' }]
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/PermissionInspection' }
      responses:
        '200':
          description: Effective access per readable target
          content:
            application/json:
              schema: { $ref: '#/components/schemas/PermissionInspectionResult' }
        default: { $ref: '#/components/responses/Error' }
  /entries/{entry_id}/access-requests:
    post:
      tags: [Permissions]
      operationId: requestAccess
      parameters:
        - $ref: '#/components/parameters/OrgId'
        - $ref: '#/components/parameters/EntryId'
      requestBody: { required: true, content: { application/json: { schema: { type: object, required: [access], properties: { access: { $ref: '#/components/schemas/AccessRights' }, reason: { type: string, maxLength: 1000 } } } } } }
      responses:
        '201': { description: Access request created, content: { application/json: { schema: { $ref: '#/components/schemas/AccessRequest' } } } }
        default: { $ref: '#/components/responses/Error' }
  /access-requests/{request_id}/decision:
    post:
      tags: [Permissions]
      operationId: decideAccessRequest
      parameters:
        - $ref: '#/components/parameters/OrgId'
        - { name: request_id, in: path, required: true, schema: { type: string, format: uuid } }
      requestBody: { required: true, content: { application/json: { schema: { type: object, required: [decision], properties: { decision: { type: string, enum: [approve, deny] }, access: { $ref: '#/components/schemas/AccessRights' } } } } } }
      responses:
        '200': { description: Decision recorded, content: { application/json: { schema: { $ref: '#/components/schemas/AccessRequest' } } } }
        default: { $ref: '#/components/responses/Error' }
  /search:
    get:
      tags: [Search]
      operationId: searchFiles
      parameters:
        - $ref: '#/components/parameters/OrgId'
        - { name: q, in: query, required: true, schema: { type: string, minLength: 1 } }
        - { name: limit, in: query, schema: { type: integer, minimum: 1, maximum: 20, default: 20 } }
      responses:
        '200': { description: Permission-filtered results, content: { application/json: { schema: { type: object, properties: { items: { type: array, items: { $ref: '#/components/schemas/SearchResult' } } } } } } }
        default: { $ref: '#/components/responses/Error' }
  /notifications:
    get:
      tags: [Notifications]
      operationId: listNotifications
      summary: Read the central notification inbox
      description: >-
        Returns the twenty newest notifications for the authenticated Carbon or
        Silicon together with the unread count used for the badge.
      parameters: [{ $ref: '#/components/parameters/OrgId' }]
      responses:
        '200':
          description: Newest notifications and unread badge count
          content:
            application/json:
              schema: { $ref: '#/components/schemas/NotificationInbox' }
        default: { $ref: '#/components/responses/Error' }
  /notifications/read:
    post:
      tags: [Notifications]
      operationId: readNotifications
      summary: Mark the entire notification inbox read
      parameters: [{ $ref: '#/components/parameters/OrgId' }]
      responses:
        '200':
          description: Inbox after every notification was marked read
          content:
            application/json:
              schema: { $ref: '#/components/schemas/NotificationInbox' }
        default: { $ref: '#/components/responses/Error' }
  /entries/{entry_id}/activity:
    get:
      tags: [Entries]
      operationId: listEntryActivity
      summary: Read the retained action history of an entry
      description: >-
        Returns up to the last hundred recorded actions on the entry — who
        created, read, updated, downloaded, deleted, or restored it, and when.
      parameters:
        - $ref: '#/components/parameters/OrgId'
        - $ref: '#/components/parameters/EntryId'
      responses:
        '200':
          description: Newest-first action history
          content:
            application/json:
              schema: { $ref: '#/components/schemas/ActivityPage' }
        default: { $ref: '#/components/responses/Error' }
  /entries/{entry_id}/versions:
    get:
      tags: [Versions]
      operationId: listVersions
      parameters:
        - $ref: '#/components/parameters/OrgId'
        - $ref: '#/components/parameters/EntryId'
      responses:
        '200': { description: Up to 50 versions, content: { application/json: { schema: { type: object, properties: { items: { type: array, maxItems: 50, items: { $ref: '#/components/schemas/FileVersion' } } } } } } }
        default: { $ref: '#/components/responses/Error' }
  /entries/{entry_id}/versions/{version_id}/restore:
    post:
      tags: [Versions]
      operationId: restoreVersion
      parameters:
        - $ref: '#/components/parameters/OrgId'
        - $ref: '#/components/parameters/EntryId'
        - { name: version_id, in: path, required: true, schema: { type: string } }
        - $ref: '#/components/parameters/IdempotencyKey'
      responses:
        '200': { description: Version restored as a new current version, content: { application/json: { schema: { $ref: '#/components/schemas/Entry' } } } }
        default: { $ref: '#/components/responses/Error' }
  /bin:
    get:
      tags: [Bin]
      operationId: listBin
      parameters: [{ $ref: '#/components/parameters/OrgId' }]
      responses:
        '200': { description: Deleted entries visible to the actor, content: { application/json: { schema: { $ref: '#/components/schemas/EntryPage' } } } }
        default: { $ref: '#/components/responses/Error' }
  /bin/{entry_id}/restore:
    post:
      tags: [Bin]
      operationId: restoreEntry
      parameters:
        - $ref: '#/components/parameters/OrgId'
        - $ref: '#/components/parameters/EntryId'
      responses:
        '200': { description: Restored entry, content: { application/json: { schema: { $ref: '#/components/schemas/Entry' } } } }
        default: { $ref: '#/components/responses/Error' }
  /storage/configuration:
    put:
      tags: [Storage]
      operationId: configureOrganizationBucket
      security:
        - bearerAuth: []
      parameters: [{ $ref: '#/components/parameters/OrgId' }]
      requestBody: { required: true, content: { application/json: { schema: { $ref: '#/components/schemas/BucketConfiguration' } } } }
      responses:
        '200': { description: Configuration saved after CRUD validation, content: { application/json: { schema: { $ref: '#/components/schemas/BucketConfigurationStatus' } } } }
        default: { $ref: '#/components/responses/Error' }
  /org/{org_id}/{path}:
    servers:
      - url: https://backend.briefcase.teamofsilicons.com
    get:
      tags: [Entries]
      operationId: resolvePermanentUrl
      summary: Resolve the clean permanent URL of an entry
      description: >-
        The path segment mirrors the folder structure exactly, for example
        `/org/tos/private/cos:tos/top_secret/this_secret.md`. The organization
        segment must match `X-Org-ID`. Without `disposition` the entry and its
        effective access are returned; with `disposition` the file bytes are
        streamed. Anything the caller cannot read answers `404`.
      parameters:
        - $ref: '#/components/parameters/OrgId'
        - { name: org_id, in: path, required: true, schema: { type: string } }
        - { name: path, in: path, required: true, schema: { type: string, maxLength: 2048 }, description: Organization-relative entry path }
        - { name: disposition, in: query, schema: { type: string, enum: [inline, attachment] }, description: Omit to receive entry metadata }
        - $ref: '#/components/parameters/Range'
      responses:
        '200':
          description: Entry metadata, or complete file bytes when a disposition is requested
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Entry' }
            application/octet-stream:
              schema: { type: string, format: binary }
        '206': { $ref: '#/components/responses/PartialFileContent' }
        default: { $ref: '#/components/responses/Error' }
components:
  securitySchemes:
    bearerAuth: { type: http, scheme: bearer, bearerFormat: IAM access token }
    oboAccess: { type: apiKey, in: header, name: X-IAM-OBO-Access-Proof, description: Short-lived IAM OBO Access proof }
    appId: { type: apiKey, in: header, name: X-App-ID, description: Originating application identifier required together with an OBO Access proof }
  parameters:
    OrgId: { name: X-Org-ID, in: header, required: true, schema: { type: string } }
    EntryId: { name: entry_id, in: path, required: true, schema: { type: string, format: uuid } }
    IdempotencyKey: { name: Idempotency-Key, in: header, required: true, schema: { type: string, minLength: 8, maxLength: 255 } }
    Cursor: { name: cursor, in: query, schema: { type: string } }
    Limit: { name: limit, in: query, schema: { type: integer, minimum: 1, maximum: 100, default: 50 } }
    ContentsLimit: { name: limit, in: query, schema: { type: integer, minimum: 1, maximum: 100, default: 100 } }
    Range:
      name: Range
      in: header
      description: Single `bytes=` range. A malformed or multi-range value is ignored and the complete file is returned.
      schema: { type: string, pattern: '^bytes=(\d+-\d*|-\d+)$' }
  responses:
    Error: { description: Error, content: { application/json: { schema: { $ref: '#/components/schemas/Error' } } } }
    FileContent:
      description: Complete file bytes
      headers:
        Content-Disposition: { schema: { type: string }, description: '`inline` for content reads and `attachment` for downloads, with both the quoted and RFC 5987 file name' }
        Content-Security-Policy: { schema: { const: "sandbox; default-src 'none'; frame-ancestors 'none'" } }
        X-Content-Type-Options: { schema: { const: nosniff } }
        Cache-Control: { schema: { const: private, no-store } }
        Accept-Ranges: { schema: { const: bytes } }
      content:
        application/octet-stream:
          schema: { type: string, format: binary }
    PartialFileContent:
      description: Requested byte range of the file
      headers:
        Content-Range: { schema: { type: string }, description: 'bytes {first}-{last}/{complete size}' }
        Content-Disposition: { schema: { type: string } }
        Accept-Ranges: { schema: { const: bytes } }
      content:
        application/octet-stream:
          schema: { type: string, format: binary }
  schemas:
    ActorRef:
      type: object
      required: [type, id]
      properties: { type: { type: string, enum: [carbon, silicon, application] }, id: { type: string } }
    FolderCreate:
      type: object
      required: [name]
      properties:
        name: { type: string, minLength: 1, maxLength: 255 }
        parent_id: { type: [string, 'null'], format: uuid }
        root_type: { type: string, enum: [public, private, tag], description: Required only when creating at organization root }
        tag: { type: string, description: Required for a tag root }
        invitees: { type: array, items: { $ref: '#/components/schemas/PermissionGrantCreate' } }
    Entry:
      type: object
      required: [id, org_id, type, name, path, permanent_url, owner, effective_access, created_at, updated_at]
      properties:
        id: { type: string, format: uuid }
        org_id: { type: string }
        type: { type: string, enum: [file, folder] }
        name: { type: string }
        path: { type: string, maxLength: 2048, description: Organization-relative path without a leading separator }
        parent_id: { type: [string, 'null'], format: uuid }
        root_type: { type: string, enum: [public, private, tag] }
        tag: { type: [string, 'null'] }
        content_type: { type: [string, 'null'] }
        size: { type: [integer, 'null'], minimum: 0 }
        render:
          description: Renderer a client should open for a file; `unsupported` means metadata and CRUD only.
          oneOf:
            - type: 'null'
            - { type: string, enum: [image, video, document, spreadsheet, presentation, audio, archive, code, unsupported] }
        permanent_url: { type: string, format: uri, description: Clean permanent URL that shows the folder structure }
        content_url: { type: [string, 'null'], format: uri, description: Authenticated sandboxed content URL for a file }
        download_url: { type: [string, 'null'], format: uri, description: Authenticated attachment URL for a file }
        owner: { $ref: '#/components/schemas/ActorRef' }
        origin_app_id: { type: [string, 'null'] }
        effective_access: { type: array, items: { type: string, enum: [read, write, update, delete, manage_permissions] } }
        created_at: { type: string, format: date-time }
        updated_at: { type: string, format: date-time }
        deleted_at: { type: [string, 'null'], format: date-time }
    EntryPage:
      type: object
      required: [items]
      properties: { items: { type: array, items: { $ref: '#/components/schemas/Entry' } }, next_cursor: { type: [string, 'null'] } }
    MultipartUpload:
      type: object
      required: [upload_id, part_size, part_count, expires_at]
      properties: { upload_id: { type: string }, part_size: { type: integer, minimum: 8388608, maximum: 5368709120 }, part_count: { type: integer, minimum: 1, maximum: 10000 }, expires_at: { type: string, format: date-time } }
    AccessRight:
      type: string
      description: >-
        One independent right. `update` never implies `delete`, `write` never
        implies `update`, and every set implicitly includes `read`.
      enum: [read, write, update, delete]
    AccessRights:
      type: array
      minItems: 1
      uniqueItems: true
      items: { $ref: '#/components/schemas/AccessRight' }
    PermissionInspection:
      type: object
      description: Names at least one and at most 100 targets in total.
      properties:
        entry_ids: { type: array, maxItems: 100, items: { type: string, format: uuid } }
        paths: { type: array, maxItems: 100, items: { type: string, maxLength: 2048 } }
    EffectivePermission:
      type: object
      required: [entry_id, path, type, effective_access]
      properties:
        entry_id: { type: string, format: uuid }
        path: { type: string }
        type: { type: string, enum: [file, folder] }
        effective_access: { type: array, items: { type: string, enum: [read, write, update, delete, manage_permissions] } }
    PermissionInspectionResult:
      type: object
      required: [items, unresolved_entry_ids, unresolved_paths]
      properties:
        items: { type: array, items: { $ref: '#/components/schemas/EffectivePermission' } }
        unresolved_entry_ids: { type: array, items: { type: string, format: uuid } }
        unresolved_paths: { type: array, items: { type: string } }
    PermissionGrantCreate:
      type: object
      required: [principal, access]
      properties: { principal: { $ref: '#/components/schemas/ActorRef' }, access: { $ref: '#/components/schemas/AccessRights' }, inherit: { type: boolean, default: true } }
    PermissionGrant:
      allOf:
        - $ref: '#/components/schemas/PermissionGrantCreate'
        - type: object
          required: [id, granted_by, created_at]
          properties: { id: { type: string, format: uuid }, granted_by: { $ref: '#/components/schemas/ActorRef' }, created_at: { type: string, format: date-time } }
    AccessRequest:
      type: object
      required: [id, entry_id, requested_by, access, status, created_at]
      properties: { id: { type: string, format: uuid }, entry_id: { type: string, format: uuid }, requested_by: { $ref: '#/components/schemas/ActorRef' }, access: { $ref: '#/components/schemas/AccessRights' }, status: { type: string, enum: [pending, approved, denied] }, created_at: { type: string, format: date-time } }
    ActivityEvent:
      type: object
      required: [action, actor, occurred_at]
      properties:
        action: { type: string, description: 'Stable versioned action name, for example entry.downloaded.v1' }
        actor: { $ref: '#/components/schemas/ActorRef' }
        app_id: { type: [string, 'null'], description: Application that acted on the actor's behalf }
        occurred_at: { type: string, format: date-time }
    ActivityPage:
      type: object
      required: [items]
      properties:
        items: { type: array, maxItems: 100, items: { $ref: '#/components/schemas/ActivityEvent' } }
    NotificationSubject:
      type: object
      required: [entry_id, name, path, type, permanent_url]
      description: The entry as it was when the notification was created.
      properties:
        entry_id: { type: string, format: uuid }
        name: { type: string }
        path: { type: string }
        type: { type: string, enum: [file, folder] }
        permanent_url: { type: string, format: uri }
    Notification:
      type: object
      required: [id, kind, read, created_at]
      properties:
        id: { type: string, format: uuid }
        kind: { type: string, enum: [access_granted, access_revoked, access_requested, access_request_decided] }
        read: { type: boolean }
        actor:
          oneOf:
            - type: 'null'
            - $ref: '#/components/schemas/ActorRef'
        subject:
          oneOf:
            - type: 'null'
            - $ref: '#/components/schemas/NotificationSubject'
        access:
          oneOf:
            - type: 'null'
            - $ref: '#/components/schemas/AccessRights'
        access_request_id: { type: [string, 'null'], format: uuid }
        decision: { type: [string, 'null'], enum: [approved, denied, null] }
        created_at: { type: string, format: date-time }
    NotificationInbox:
      type: object
      required: [items, unread_count]
      properties:
        items: { type: array, maxItems: 20, items: { $ref: '#/components/schemas/Notification' } }
        unread_count: { type: integer, minimum: 0 }
    SearchResult:
      type: object
      required: [entry, score, filename_match, content_hits]
      properties: { entry: { $ref: '#/components/schemas/Entry' }, score: { type: number }, filename_match: { type: boolean }, content_hits: { type: integer, minimum: 0 }, snippets: { type: array, items: { type: string } } }
    FileVersion:
      type: object
      required: [id, number, size, created_by, created_at]
      properties: { id: { type: string }, number: { type: integer, minimum: 1 }, size: { type: integer }, created_by: { $ref: '#/components/schemas/ActorRef' }, created_at: { type: string, format: date-time } }
    BucketConfiguration:
      type: object
      required: [bucket_name, region, role_arn, prefix, aws_account_id, encryption_mode]
      properties: { bucket_name: { type: string }, region: { type: string }, role_arn: { type: string }, prefix: { type: string }, aws_account_id: { type: string }, encryption_mode: { type: string, enum: [sse_s3, sse_kms] }, kms_key_arn: { type: string } }
    BucketConfigurationStatus:
      type: object
      required: [status, tested_at]
      properties: { status: { type: string, enum: [configured, failed] }, tested_at: { type: string, format: date-time }, failure_reason: { type: [string, 'null'] } }
    Error:
      type: object
      required: [error]
      properties: { error: { type: object, required: [code, message], properties: { code: { type: string }, message: { type: string }, request_id: { type: string } } } }
